<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="docresource-modal">
        <div class="modal fade" id="createDocRes" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <form enctype="multipart/form-data" th:action="@{/resource/document/save}" name="resourceForm"
                          th:object="${resource}" method="post">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Document Resource</h4>
                        </div>
                        <div class="modal-body">
                            <fieldset>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Document</label>
                                    <div class="col-sm-10">
                                        <input type="file" id="file" th:field="*{file}" class="form-control"/>

                                    </div>
                                </div>
                                <br/>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" th:field="*{description}"></textarea>
                                    </div>
                                </div>
                                <br/>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Topic</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" th:field="*{topic.topic_id}">
                                            <option th:each="topic:${topics}" th:text="${topic.name}"
                                                    th:value="${topic.topic_id}"/>
                                        </select>
                                    </div>
                                </div>

                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                            <button class="btn btn-primary" name="add" id="add" type="submit"
                                                    th:text="AddDocResource"></button>

                                        </div>
                                    </div>
                                </div>

                            </fieldset>

                        </div>


                    </form>

                </div>

            </div>
        </div>
    </div>
</div>