<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="unread-item">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Inbox</div>
                <div class="panel-body">
                    <div th:each="resource:${unreadResources}">
                        <span th:utext="${resource.resourceCreatedBy}"/><br/>
                        <span th:text="${resource.description}"/><br/>
                        <span><i class="fa fa-facebook"></i></span>
                        <span><i class="fa fa-twitter"></i></span>
                        <span><i class="fa fa-google-plus"></i></span>
                        <span><a href="#"><u>Download</u></a></span>
                        <span><a href="#"><u>View Full Size</u></a></span>
                        <span><a href="#"><u>Mark as Read</u></a></span>
                        <span><a href="#"><u>View Post</u></a></span>

                        <hr/>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>