<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="linkresource-modal">
        <div class="modal fade" id="createlinkRes" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{/resource/link/save}" th:object="${resource}" method="post" name="linkForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Link Resource</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="link">Link</label>
                                <input type="text" class="form-control" id="link" placeholder="Enter Link" th:field="*{url}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="5"  id="description"
                                      th:field="*{description}"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="description">Topic:</label>
                            <select class="form-control" th:field="*{topic.topic_id}">
                                <option th:each="topic:${topics}" th:text="${topic.name}" th:value="${topic.topic_id}"/>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" name="addlink" id="addlink" type="submit"
                                    th:text="AddLinkResource"></button>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
