<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="registration">
        <form th:action="@{/user/save}" method="POST" class="form-signin" name="registrationUser" th:object="${user}">
            <input type="text" id="firstName" th:field="*{firstName}" placeholder="Enter Your first Name"/>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" placeholder="Enter Your Last Name"/>
            <input type="text" id="email" th:field="*{email}" placeholder="Enter Your Email"/>
            <input type="text" id="username" th:field="*{username}" placeholder="Enter UserName"/>
            <input type="password" th:field="*{password}" placeholder="Enter Your Confirm Password"/>
            <input type="file" id="file" enctype="multipart/form-data"/>
            <button type="submit">Sign Up</button>
        </form>

    </div>
</div>